!!!
%html
  %head
    %meta{charset:"utf-8"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
    %title toolmantim.com
    %script
      :plain
        document.documentElement.className = "animated";
        setTimeout(function() { document.documentElement.className += " animating"; }, 1500);
    %style
      :plain
        /*
         * MyFonts Webfont Build ID 826852, 2011-05-29T09:22:38-0400
         * 
         * The fonts listed in this notice are subject to the End User License
         * Agreement(s) entered into by the website owner. All other parties are 
         * explicitly restricted from using the Licensed Webfonts(s).
         * 
         * You may obtain a valid license at the URLs below.
         * 
         * Webfont: Erbar URW Bold
         * URL: http://new.myfonts.com/fonts/urw/erbar/bold/
         * Foundry: URW++
         * Copyright: none
         * License: http://www.myfonts.com/viewlicense?1056
         * Licensed pageviews: 20,000/month
         * CSS font-family: ErbarURW-Bold
         * CSS font-weight: normal
         * 
         * (c) 2011 Bitstream Inc
        */
        @font-face {font-family: 'ErbarURW-Bold';src: url('/hallo-berlin/webfonts/eot/style_176568.eot');src: url('/hallo-berlin/webfonts/eot/style_176568.eot?#iefix') format('embedded-opentype'),url('/hallo-berlin/webfonts/woff/style_176568.woff') format('woff'),url('/hallo-berlin/webfonts/ttf/style_176568.ttf') format('truetype'),url('/hallo-berlin/webfonts/svg/style_176568.svg#ErbarURW-Bold') format('svg');}
      
        html, body, h1 { margin: 0; padding: 0; }
        html { font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; }
        html, body { width: 100%; height: 100%; }
        body { -webkit-text-size-adjust: none; }
        header {
          position: absolute;
          top: 0;
          left: 0;
          background-color: white;
          color: black;
          display: inline-block;
          padding: 11px 20px 12px 20px;
          line-height: 24px;
          -webkit-border-bottom-right-radius: 5px;
          z-index: 2;
          -webkit-transition: padding 120ms linear;
          -moz-transition: padding 120ms linear;
          -o-transition: padding 120ms linear;
          transition: padding 120ms linear;
        }
        header > * {
          display: inline;
        }
        header h1 {
          font-size: 18px;
          padding-right: 10px;
          border-right: 1px solid #ccc;
          margin-right: 5px;
        }
        header a {
          display: inline-block;
          width: 24px;
          height: 24px;
          background: #ccc;
          overflow: hidden;
          text-indent: -1000px;
          margin: 0 0 0 3px;
          border-radius: 3px;
        }
        header a:hover {
          background: #aaa;
        }
        article {
          position: absolute;
          width: 100%;
          height: 100%;
          min-height: 320px;
          background: url('/hallo-berlin/photo-large.jpg') 50% 0 no-repeat;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          background-size: cover;
          z-index: 1;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-box-orient: horizontal;
          -webkit-box-pack: center;
          -webkit-box-align: center;
          overflow: hidden;
        }
        article h1 {
          width: 100%;
          text-align: center;
          text-transform: uppercase;
          color: white;
          font: 180px/.7 ErbarURW-Bold;
          -webkit-transition: font-size 120ms linear;
          -moz-transition: font-size 120ms linear;
          -o-transition: font-size 120ms linear;
          transition: font-size 120ms linear;
        }
        article h1 span {
          max-width: 556px;
          width: 100%;
          display: block;
          margin: 0 auto;
          overflow: hidden;
        }
        article h1 .hallo {
          text-transform: lowercase;
        }
        article h1 .berlin {
          text-transform: uppercase;
        }
        article .line {
          position: absolute;
          height: 100%;
          width: 80%;
          left: 10%;
          top: 0;
          background: transparent url('/hallo-berlin/white-line.png') 0 50% repeat-x;
        }
        .animated article .line {
          opacity: 0;
          -webkit-transform-origin: center left;
        }
        .animating article .line {
          -webkit-animation: line 800ms ease-out forwards;
        }
        article h1 .hallo span {
          margin-bottom: 3%;
        }
        .animating article h1 .hallo span {
          -webkit-animation: hallo 500ms 700ms forwards;
        }
        .animated article h1 .hallo span {
          opacity: 0;
        }
        article h1 .berlin span {
          margin-top: 3%;
        }
        .animated article h1 .berlin span {
          opacity: 0;
        }
        .animating article h1 .berlin span {
          -webkit-animation: berlin 500ms 1.1s forwards;
        }
        article .plane {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background: transparent url('/hallo-berlin/plane.png') 90% 50% no-repeat;
        }
        .animated article .plane {
          background-position-x: 0;
          opacity: 0;
        }
        .animating article .plane {
          -webkit-animation: plane 800ms ease-out forwards;
        }
        article footer {
          position: absolute;
          display: inline-block;
          left: 0;
          bottom: 2%;
          width: 96%;
          padding: 0 2%;
        }
        article footer a, article footer a span {
          -webkit-transition: all 200ms;
          -moz-transition: all 200ms;
          transition: all 200ms;
        }
        article footer a.cc {
          float: left;
          background-color: #fff6c5;
          padding: 1px 2px;
          border-radius: 8px;
          line-height: 15px;
          opacity: .8;
        }
        article footer a.cc:hover {
          opacity: 1;
        }
        article footer a.cc img {
          float: left;
        }
        article footer a.photo-cred {
          float: right;
          margin-top: -2px;
          color: white;
          text-decoration: none;
          line-height: 14px;
        }
        article footer a.photo-cred span.photo {
          font-size: 11px;
          text-transform: uppercase;
          color: #cda675;
          margin-right: 0.1em;
        }
        article footer a.photo-cred:hover span.photo {
          color: #fdd6a5;
        }
        article footer a.photo-cred span.name {
          font-size: 14px;
          color: #eea03e;
        }
        article footer a.photo-cred:hover span.name {
          color: white;
        }

        @media screen and (max-width: 1000px) { article h1 { font-size: 150px; } }
        @media screen and (max-width: 800px) { article h1 { font-size: 120px; } }
        @media screen and (max-width: 600px) { article h1 { font-size: 90px; } }
        
        @media screen and (max-width: 480px) {
          article h1 {
            font-size: 60px;
          }
          article footer {
            bottom: 10px;
            right: 15px;
          }
        }
        
        @media screen and (max-width:480px), screen and (max-width:320px) {
          article {
            background-image: url('/hallo-berlin/photo-small.jpg');
          }
          header {
            padding: 5px 10px 6px 10px;
          }
          article footer a.photo-cred span.photo {
            font-size: 10px;
          }
          article footer a.photo-cred span.name {
            font-size: 13px;
          }
        }

        /* Shinier background for high-res devices */
        @media screen and (max-width:480px) and (min-resolution: 300dpi), screen and (max-width:320px) and (min-resolution: 300dpi) {
          article {
            background: url('/hallo-berlin/photo-large.jpg') no-repeat;
          }
        }
        /* Webkit specific */
        @media screen and (max-width:480px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width:320px) and (-webkit-min-device-pixel-ratio: 2) {
          article {
            background: url('/hallo-berlin/photo-large.jpg') no-repeat;
          }
        }
        
        @media screen and (max-width: 320px) {
          header {
            left: 25px;
            -webkit-border-bottom-left-radius: 5px;
          }
          article h1 {
            font-size: 40px;
          }
          article footer {
            bottom: 10px;
          }
        }

        @-webkit-keyframes plane {
          from { opacity: 1; -webkit-transform: translate3d(-10%,0,0); }
          to   { opacity: 1; -webkit-transform: translate3d(87.5%,0,0);  }
        }
        @-webkit-keyframes line {
          from { opacity: 0; -webkit-transform: translateZ(0) scaleX(0); }
          10%  { opacity: 1; -webkit-transform: translateZ(0) scaleX(0); }
          to   { opacity: 1; -webkit-transform: translateZ(0) scaleX(80%); }
        }
        @-webkit-keyframes hallo {
          from { opacity: 1; -webkit-transform: translate3d(0,120%,0); }
          to   { opacity: 1; -webkit-transform: translate3d(0,0,0); }
        }
        @-webkit-keyframes berlin {
          from { opacity: 1; -webkit-transform: translate3d(0,-120%,0); }
          to   { opacity: 1; -webkit-transform: translate3d(0,0,0); }
        }
  %body
    %header
      %h1 toolmantim
      %nav
        %a.email{href:"mailto:t@thisdomain.com"} Email
        %a.twitter{href:"http://twitter.com/toolmantim"} Twitter
        %a.flickr{href:"http://flickr.com/photos/toolmantim"} Flickr
        %a.github{href:"http://github.com/toolmantim"} Github
        %a.dribbble{href:"http://dribbble.com/toolmantim"} Dribbble
    %article
      %h1
        %span.hallo
          %span Hallo
        %span.berlin
          %span Berlin
      / F'only we could animate :before and :after pseudo-elements
      .plane
      .line
      %footer
        %a.cc{href:"http://creativecommons.org/licenses/by-sa/2.0/"}
          %img{src:"data:image/gif;base64,R0lGODlhDwAPAMQRAP///6msrtTV1tna28TGx+np6rO2uM7Q0cnLzL/Bwt/g4fr6+urq666xs7m7veTl5rm8vf///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAABEALAAAAAAPAA8AAAVnYCSOZEkyRBM0BGNGSGAcwmEEyELGAuD7A9yIEegBCoECMPAQEQw/pNJnIIgCh5/WJwhcjYCA+Nf9/g5YsjfyjCZ/joRIERj8Ar+gYkSob4NyIwt9BgIDAg4BCTolCgliARB7L5QjIQA7", alt:"Attribution"}
          %img{src:"data:image/gif;base64,R0lGODlhDwAPAMQWAKmsrv///9TV1rO2uMTGx9na27/Bwt/g4b7AwsnLzO7v766xs97f4Pr6+uTl5eTl5s7Q0fT09Orq67m7vcPFx+nq6v///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAABYALAAAAAAPAA8AAAVyoCWOZEkeBqAah9kQwCDME2A0JFwEPF/YowNgxxjEdr+WhTAIRACLhNERGBhEAEGAAkgEFABEQADAahUDBS88LluyAQaCChaTRcxAJSYwMqoEIg9wZFBaSSMJcD1tgSSKAxACEEYEOCUSBAtQBA8mnyYhADs=", alt:"Share Alike"}
        %a.photo-cred{href:"http://flickr.com/"} <span class='photo'>Photo by</span> <span class='name'>ioerror</span>