!!!
%html
  %head
    %meta{charset:"utf-8"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
    %title toolmantim.com
    %script
      :plain
        document.documentElement.className = "animated";
        setTimeout(function() { document.documentElement.className += " animating"; }, 2000);
    %style
      :plain
        html, body, h1 { margin: 0; padding: 0; }
        html { font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; }
        html, body { width: 100%; height: 100%; }
        body { -webkit-text-size-adjust: none; }
        header {
          position: absolute;
          top: 0;
          left: 0;
          background-color: white;
          color: black;
          display: inline-block;
          padding: 11px 20px 12px 20px;
          line-height: 24px;
          -webkit-border-bottom-right-radius: 5px;
          z-index: 2;
        }
        header > * {
          display: inline;
        }
        header h1 {
          font-size: 18px;
          padding-right: 10px;
          border-right: 1px solid #ccc;
          margin-right: 5px;
        }
        header a {
          display: inline-block;
          width: 24px;
          height: 24px;
          background: #ccc;
          overflow: hidden;
          text-indent: -1000px;
          margin: 0 0 0 3px;
          border-radius: 3px;
        }
        header a:hover {
          background: #aaa;
        }
        article {
          position: absolute;
          width: 100%;
          height: 100%;
          min-height: 320px;
          background: url('/hello-berlin/photo-large.jpg') 50% 0 no-repeat;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          background-size: cover;
          z-index: 1;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-box-orient: horizontal;
          -webkit-box-pack: center;
          -webkit-box-align: center;
          overflow: hidden;
        }
        article h1 {
          width: 100%;
          text-align: center;
          line-height: .9;
          text-transform: uppercase;
          color: white;
        }
        article .line {
          position: absolute;
          height: 100%;
          width: 80%;
          left: 10%;
          top: 0;
          background: transparent url('/hello-berlin/white-line.png') 0 50% repeat-x;
        }
        .animated article .line {
          opacity: 0;
          -webkit-transform-origin: center left;
        }
        .animating article .line {
          -webkit-animation: line 800ms ease-out forwards;
        }
        article h1 {
          text-align: center;
        }
        article h1 span {
          max-width: 556px;
          width: 50%;
          display: block;
          margin: 0 auto;
          overflow: hidden;
        }
        article h1 img {
          width: 100%;
        }
        .animated article h1 .hallo img {
          opacity: 0;
        }
        .animating article h1 .hallo img {
          -webkit-animation: hallo .5s 1s forwards;
        }
        article h1 .hallo img {
          margin-bottom: 3%;
        }
        .animated article h1 .berlin img {
          opacity: 0;
        }
        .animating article h1 .berlin img {
          -webkit-animation: berlin .5s 1.5s forwards;
        }
        article h1 .berlin img {
          margin-top: 3%;
        }
        article .plane {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background: transparent url('/hello-berlin/plane.png') 90% 50% no-repeat;
        }
        .animated article .plane {
          background-position-x: 0;
          opacity: 0;
        }
        .animating article .plane {
          -webkit-animation: plane 800ms ease-out forwards;
        }
        article footer {
          position: absolute;
          display: inline-block;
          left: 0;
          bottom: 2%;
          width: 96%;
          padding: 0 2%;
        }
        article footer a, article footer a span {
          -webkit-transition: all 200ms;
          -moz-transition: all 200ms;
          transition: all 200ms;
        }
        article footer a.cc {
          float: left;
          background-color: #fff6c5;
          padding: 1px 2px;
          border-radius: 8px;
          line-height: 15px;
          opacity: .8;
        }
        article footer a.cc:hover {
          opacity: 1;
        }
        article footer a.cc img {
          float: left;
        }
        article footer a.photo-cred {
          float: right;
          margin-top: -2px;
          color: white;
          text-decoration: none;
          line-height: 14px;
        }
        article footer a.photo-cred span.photo {
          font-size: 11px;
          text-transform: uppercase;
          color: #cda675;
          margin-right: 0.1em;
        }
        article footer a.photo-cred:hover span.photo {
          color: #fdd6a5;
        }
        article footer a.photo-cred span.name {
          font-size: 14px;
          color: #eea03e;
        }
        article footer a.photo-cred:hover span.name {
          color: white;
        }
        
        @media screen and (max-width: 480px) {
          article footer {
            bottom: 10px;
            right: 15px;
          }
        }
        
        @media screen and (max-width:480px), screen and (max-width:320px) {
          article {
            background-image: url('/hello-berlin/photo-small.jpg');
          }
          header {
            padding: 5px 10px 6px 10px;
          }
          article footer a.photo-cred span.photo {
            font-size: 10px;
          }
          article footer a.photo-cred span.name {
            font-size: 13px;
          }
        }

        /* Shinier background for high-res devices */
        @media screen and (max-width:480px) and (min-resolution: 300dpi), screen and (max-width:320px) and (min-resolution: 300dpi) {
          article {
            background: url('/hello-berlin/photo-large.jpg') no-repeat;
          }
        }
        /* Webkit specific */
        @media screen and (max-width:480px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width:320px) and (-webkit-min-device-pixel-ratio: 2) {
          article {
            background: url('/hello-berlin/photo-large.jpg') no-repeat;
          }
        }
        
        @media screen and (max-width: 320px) {
          header {
            left: 25px;
            -webkit-border-bottom-left-radius: 5px;
          }
          article footer {
            bottom: 10px;
          }
        }

        @-webkit-keyframes plane {
          from { opacity: 1; -webkit-transform: translate3d(-10%,0,0); }
          to   { opacity: 1; -webkit-transform: translate3d(88%,0,0);  }
        }
        @-webkit-keyframes line {
          from { opacity: 0; -webkit-transform: translateZ(0) scaleX(0); }
          10%  { opacity: 1; -webkit-transform: translateZ(0) scaleX(0); }
          to   { opacity: 1; -webkit-transform: translateZ(0) scaleX(80%); }
        }
        @-webkit-keyframes hallo {
          from { opacity: 1; -webkit-transform: translate3d(0,120%,0); }
          to   { opacity: 1; -webkit-transform: translate3d(0,0,0); }
        }
        @-webkit-keyframes berlin {
          from { opacity: 1; -webkit-transform: translate3d(0,-120%,0); }
          to   { opacity: 1; -webkit-transform: translate3d(0,0,0); }
        }
  %body
    %header
      %h1 toolmantim
      %nav
        %a.email{href:"mailto:t@thisdomain.com"} Email
        %a.twitter{href:"http://twitter.com/toolmantim"} Twitter
        %a.flickr{href:"http://flickr.com/photos/toolmantim"} Flickr
        %a.github{href:"http://github.com/toolmantim"} Github
        %a.dribbble{href:"http://dribbble.com/toolmantim"} Dribbble
    %article
      %h1
        %span.hallo
          %img{src:"/hello-berlin/hallo.png", alt:"Hallo"}
        %span.berlin
          %img{src:"/hello-berlin/berlin.png", alt:"Berlin"}
      .plane
      .line
      %footer
        %a.cc{href:"http://creativecommons.org/licenses/by-sa/2.0/"}
          %img{src:"/hello-berlin/cc_icon_attribution_small.gif", alt:"Attribution"}
          %img{src:"/hello-berlin/cc_icon_sharealike_small.gif", alt:"Share Alike"}
        %a.photo-cred{href:"http://flickr.com/"} <span class='photo'>Photo by</span> <span class='name'>ioerror</span>